@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .socials {
    font-size: 2rem;

    a {
      float: right;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  .terms-conditions {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
      li {
        display: inline;
        padding: 0 1rem;
      }

      a {
        font-weight: bold;
        text-decoration: none;
      }
  }
  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}
