
<div class="header-container">
    <div class="header-title">
        <p>Account settings</p>
    </div>
    <div>                
    </div>
</div>
<div class="main">
    <form class="user" [formGroup]="form1">
        <div class="title">USER DETAILS</div>
        <div class="fullname">
            <div class="form-group">
                <label for="firstName" class="label">First Name</label>
                <input type="text" nbInput fullWidth formControlName="firstName" value="{{user?.firstName}}">
            </div>
            <div class="form-group">
                <label for="lastName" class="label">Last Name</label>
                <input type="text" nbInput fullWidth formControlName="lastName" placeholder="Last Name" value="{{user?.lastName}}">
            </div>
        </div>        
        <div class="form-group">
            <label for="picture" class="label">Avatar Picture</label>
            <input type="file" #image type="file" multiple accept="image/x-png,image/gif,image/jpeg" (change)="uploadImage(image.files, false)" nbInput fullWidth  placeholder="Avatar">
        </div>
        <div class="form-group">
            <label for="phone" class="label">Phone</label>
            <input type="phone" nbInput fullWidth formControlName="phone" placeholder="Phone" value="{{user?.phone}}">
        </div>
        <!-- <div class="form-group">
            <label for="role" class="label">Role</label>
            <nb-select selected="1" formControlName="businessRole" fullWidth value="{{user?.businessRole}}">
                <nb-option value="Founder">Founder</nb-option>
                <nb-option value="COO">COO</nb-option>
                <nb-option value="HeadofOperations">Head of Operations</nb-option>
                <nb-option value="CustomerSuccessManager">Customer Success Manager</nb-option>
                <nb-option value="HeadofMarketing">Head of Marketing</nb-option>
                <nb-option value="MarketingManager">Marketing Manager</nb-option>
                <nb-option value="SocialMediaManager">Social Media Manager</nb-option>
            </nb-select>
        </div> -->
    </form>
    <form class="business" [formGroup]="form2">
        <div class="title">BUSINESS DETAILS</div>
        <div class="form-group">
            <label for="name" class="label">Business Name</label>
            <input type="text" nbInput fullWidth formControlName="name" placeholder="Business" value="{{business?.name}}">
        </div>
        <div class="form-group">
            <label for="email" class="label">Email</label>
            <input type="email" nbInput fullWidth formControlName="email" placeholder="Email" value="{{business?.email}}">
        </div>
        <div class="form-group">
            <label for="website" class="label">Website</label>
            <input type="text" nbInput fullWidth formControlName="website" placeholder="Website" value="{{business?.website}}">
        </div>
        <div class="form-group">
            <label for="address" class="label">Address</label>
            <input type="text" nbInput fullWidth formControlName="address" placeholder="Address" value="{{business?.address}}">
        </div>
        <!-- <div class="form-group">
            <label for="category" class="label">Business Category</label>
            <nb-select selected="1" formControlName="category" fullWidth value="{{business?.category}}">
                <nb-option value="Automotive">Automotive</nb-option>
                <nb-option value="BeautySpaAndSalon">Beauty, Spa & Salon</nb-option>
                <nb-option value="ClothingAndApparel">Clothing & Apparel</nb-option>
                <nb-option value="Eduction">Education</nb-option>
                <nb-option value="Entertainment">Entertainment</nb-option>
                <nb-option value="EventPlanningServices">Event Planning & Services</nb-option>
                <nb-option value="FinanceAndBanking">Finance & Banking</nb-option>
                <nb-option value="FoodAndGrocery">Food & Grocery</nb-option>
                <nb-option value="HotelAndLodging">Hotel & Lodging</nb-option>
                <nb-option value="MedicalAndHealth">Medical & Health</nb-option>
                <nb-option value="NonProfit">Non-Profit</nb-option>
                <nb-option value="ProfessionalServices">Professional Services</nb-option>
                <nb-option value="PublicService">Public Service</nb-option>
                <nb-option value="Restaurant">Restaurant</nb-option>
                <nb-option value="ShoppingAndRetail">Shopping & Retail</nb-option>
                <nb-option value="TravelAndTransportation">Travel & Transportation</nb-option>
                <nb-option value="Other">Other</nb-option>
            </nb-select>
        </div> -->
    </form>
    <div class="membership">
        
    </div>

</div>
<div class="buttons">
    <button type="submit" matRipple nbButton status="primary" class="button" (click)="save()">Save</button>
</div>

