<div class="login">

    <div class="login-container">
        <nb-card>
            <nb-card-header>
                <div class="login-logo-image">
                    <img src="https://brightcast.azurewebsites.net/assets/img/logo.png">
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-header>
                        <div class="login-text">
                            Login
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">Please Enter the Email which is registered
                                    with Bright io</label>
                                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="login-submit-btn">
                                <button type="submit" nbButton status="danger">Password Reset Request!</button>
                            </div>
                            <div class="form-group">
                                <div class="login-bottom-container">
                                    <div>
                                        <p>Already Have an Account? <span class="login-black"
                                                routerLink="/auth/login">Login
                                                to change!</span></p>
                                        <p>Create New Account? <span class="login-black"
                                                routerLink="/auth/register">Sign
                                                up</span></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </div>
</div>