<!-- <div class="login">

    <div class="login-container">
        <nb-card>
            <nb-card-header>
                <div class="login-logo-image">
                    <img src="https://brightcast.azurewebsites.net/assets/img/logo.png">
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-header>
                        <div class="login-text">
                            Register
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">Email address</label>
                                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="label">Password</label>
                                <input type="password" nbInput fullWidth id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="label">Confirm Password</label>
                                <input type="password" nbInput fullWidth id="exampleInputPassword2"
                                    placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <nb-checkbox>Remember Me</nb-checkbox>
                            </div>
                            <div class="login-submit-btn">
                                <button type="submit" nbButton status="danger">Register</button>
                            </div>
                            <div class="form-group">
                                <div class="login-bottom-container">
                                    <div>
                                        <p>Already Have an Account? <span class="login-black"
                                                routerLink="/auth/login">Sign
                                                in</span></p>
                                        <p>Forgot password? <span class="login-black"
                                                routerLink="/auth/request-password">Reset</span></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<div class="logo">
    <img class="logo-img" src="assets/logo/logo.png" />
</div>
<div class="login">
    <div class="login-container">
        <div class="form-heading">
            Create Account
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" class="label">Your email</label>
                <input type="email" class="form-control" nbInput id="exampleInputEmail1" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="label">Password</label>
                <input type="password" class="form-control" nbInput id="exampleInputPassword1"
                    placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="label">Confirm password</label>
                <input type="password" class="form-control" nbInput id="exampleInputPassword1"
                    placeholder="Enter password Again">
            </div>
            <div class="form-group">
                <nb-checkbox>I agree with terms & conditions</nb-checkbox>
            </div>
            <button type="submit" fullWidth nbButton status="primary">Create Account</button>
            <div class="login-bottom-container">
                <div>
                    <p>Already have an account? <span class="login-black" routerLink="/auth/login">Sign
                            In</span></p>
                </div>
            </div>
        </form>
    </div>
</div>