
        <div class="header-container">
            <div class="header-title">
                <p>{{campaign?.name}}</p>
                <button type="button" nbButton shape="semi-round" outline small status="primary" routerLink="../../new/campaign" class="edit-button"><nb-icon icon="edit-2-outline"></nb-icon>Edit</button>
            </div>
            <div>
                <div class="toggler">
                    <div class="toggle-btn">
                        <button nbButton shape="semi-round" status="primary" matripple appearance="{{btnstatus[1]}}" (click)="toggle(0)" class="btn1">Messages</button>
                    </div>
                    <div class="toggle-btn">
                        <button nbButton shape="semi-round" status="primary" matripple appearance="{{btnstatus[0]}}" (click)="toggle(1)" class="btn2">Analytics</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isAnalytics" class="header2">
            <nb-select [(selected)]="selectedItem" size="medium" >
                <nb-option (click)="updateTimeFilter()" value="0" class="select-text">Select period: <span class="select-text-bold">One Month</span></nb-option>
                <nb-option (click)="updateTimeFilter()" value="1" class="select-text">Select period: <span class="select-text-bold">One Week</span></nb-option>
                <nb-option (click)="updateTimeFilter()" value="2" class="select-text">Select period: <span class="select-text-bold">One Day</span></nb-option>
            </nb-select>
        </div>
        <div *ngIf="isAnalytics" class="main">
            <div class="cards">
                <div class="card-arrow" ></div>
                <div class="card" [class.selected]="selectedChart==='delivered'" [class.sb1]="selectedChart==='delivered'" (click)="selectedChart = 'delivered'">
                    <div class="value" [style.color]="selectedChart=='delivered' ? '#FFF' : '#171725'">{{campaign?.delivered}}</div>
                    <div class="type" [style.color]="selectedChart=='delivered' ? '#FFF' : '#696974'">Delivered</div>
                    <div class="percentage" [style.color]="campaign?.deliveredPercentage >=0 ? '#3DD598' : '#FC5A5A'"><span *ngIf="campaign?.deliveredPercentage >=0">+</span>{{campaign.deliveredPercentage | number : '1.2-2'}} <nb-icon *ngIf="campaign?.deliveredPercentage >=0" icon="arrow-upward-outline" style="color:#3DD598;"></nb-icon><nb-icon *ngIf="campaign?.deliveredPercentage < 0" icon="arrow-downward-outline" style="color:#FC5A5A;"></nb-icon></div>
                </div>
                <div class="card" [class.selected]="selectedChart==='read'" (click)="selectedChart = 'read'">
                    <div class="value" [style.color]="selectedChart=='read' ? '#FFF' : '#171725'">{{campaign?.read}}</div>
                    <div class="type" [style.color]="selectedChart=='read' ? '#FFF' : '#696974'">Read</div>
                    <div class="percentage" [style.color]="campaign?.readPercentage >=0 ? '#3DD598' : '#FC5A5A'"><span *ngIf="campaign?.readPercentage >=0">+</span>{{campaign.readPercentage | number : '1.2-2'}} <nb-icon *ngIf="campaign?.readPercentage >=0" icon="arrow-upward-outline" style="color:#3DD598;"></nb-icon><nb-icon *ngIf="campaign?.readPercentage < 0" icon="arrow-downward-outline" style="color:#FC5A5A;"></nb-icon></div>
                </div>
                <div class="card" [class.selected]="selectedChart==='subscribed'" (click)="selectedChart = 'subscribed'">
                    <div class="value" [style.color]="selectedChart=='subscribed' ? '#FFF' : '#171725'">{{campaign?.subscribed}}</div>
                    <div class="type" [style.color]="selectedChart=='subscribed' ? '#FFF' : '#696974'">Subscribed</div>
                    <div class="percentage" [style.color]="campaign?.subscribedPercentage >=0 ? '#3DD598' : '#FC5A5A'"><span *ngIf="campaign?.subscribedPercentage >=0">+</span>{{campaign.subscribedPercentage | number : '1.2-2'}} <nb-icon *ngIf="campaign?.subscribedPercentage >=0"icon="arrow-upward-outline" style="color:#3DD598;"></nb-icon><nb-icon *ngIf="campaign?.subscribedPercentage < 0" icon="arrow-downward-outline" style="color:#FC5A5A;"></nb-icon></div>
                </div>
                <div class="card" [class.selected]="selectedChart==='replies'" (click)="selectedChart = 'replies'">
                    <div class="value" [style.color]="selectedChart=='replies' ? '#FFF' : '#171725'">{{campaign?.replies}}</div>
                    <div class="type" [style.color]="selectedChart=='replies' ? '#FFF' : '#696974'">Replies</div>
                    <div class="percentage" [style.color]="campaign?.repliesPercentage >=0 ? '#3DD598' : '#FC5A5A'"><span *ngIf="campaign?.repliesPercentage >=0">+</span>{{campaign.repliesPercentage | number : '1.2-2'}} <nb-icon *ngIf="campaign?.repliesPercentage >=0"icon="arrow-upward-outline" style="color:#3DD598;"></nb-icon><nb-icon *ngIf="campaign?.repliesPercentage < 0" icon="arrow-downward-outline" style="color:#FC5A5A;"></nb-icon></div>
                </div>
            </div>
            <div class="chart">
                <ngx-ecommerce-charts *ngIf="dataReady" chartName="{{getChartTitle()}}" option="{{selectedChart}}" id="{{campaignId}}" filter="{{getFilter()}}" ></ngx-ecommerce-charts>
            </div>
        </div>

        <div *ngIf="!isAnalytics" class="main-messages">
            <div class="contact-list">
                <div class="contact" *ngFor="let contact of contacts; index as i" (click)="selectContactId(contact?.id)" [ngClass]="selectedContactId === contact?.id ? 'selected' : ''">
                    <div class="left">
                        <div class="name">{{contact?.firstName + ' ' + contact?.lastName}}</div>
                        <div class="body">{{contact?.body}}</div>
                    </div>
                    <div class="right">
                        <div class="time">
                            {{(isToday(contact?.time)) ? (contact?.time | date:'shortTime') : (contact?.time | date:'shortDate')}}
                        </div>
                        <div class="notification">

                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="chat">
                    <div class="message" *ngFor="let message of messages" [ngClass]="message?.reply ? 'answer' : 'incoming'">
                        <div class="header">
                            <div class="name">
                                Theo Bogdan
                            </div>
                            <div class="date">
                                August 14, 2020 | 7:24 P.M
                            </div>
                        </div>
                        <div class="body">
                            - We would like to have Pageviews, click, conversion and total revenue up in the right corner of the graph. And maybe design them so the look more like buttons that you can turn on/off? - Latest clicks/conversions. Where you currently have the logo for merchant, we should instead have a logo that represent the referring traffic sources (ex. Google or Facebook). So we’re actually missing a column that should say “Source”. And there should be no icon for the merchants.
                        </div>
                    </div>
                </div>
                <div class="input">
                    <textarea class="text" placeholder="Type your reply..."></textarea>
                    <div class="buttons">
                        <nb-icon icon="attach-outline" (click)="attachDocument()" class="upload"></nb-icon>
                        <nb-icon icon="smiling-face-outline" (click)="openEmoji()" class="emoji"></nb-icon>
                        <nb-icon icon="paper-plane-outline" (click)="send()" class="send"></nb-icon> 
                    </div>
                </div>
            </div>
        </div>
