.form-heading {
    font-size: 2em;
    text-align: center;
    color: #017fdc;
    margin-bottom: 20px;
    font-weight: 650;
}
.logo-img {
    width: 25rem;
}

.button {
    background-color: #017fdc !important;
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}