<div class="login">
    <div class="login-container">
        <div class="form-heading">
            Reset Password
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" class="label">Your email</label>
                <input type="email" class="form-control" nbInput id="exampleInputEmail1" #email placeholder="Enter your email">
            </div>
            <button [nbSpinner]="loading" nbSpinnerStatus="success" type="submit" fullWidth nbButton status="primary" class="button" (click)="reset(email.value)">Reset Password</button>
            <div class="login-bottom-container">
                <div>
                    <p>Dont have an account? <span class="login-black" routerLink="/auth/register"> Sign up</span></p>
                </div>
            </div>
        </form>
    </div>
</div>