<div class="login">

    <div class="login-container">
        <nb-card>
            <nb-card-header>
                <div class="login-logo-image">
                    <img src="https://brightcast.azurewebsites.net/assets/img/logo.png">
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-header>
                        <div class="login-text">
                            Register
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="label">Current Password</label>
                                <input type="password" nbInput fullWidth id="exampleInputPassword1"
                                    placeholder="Current Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="label">New Password</label>
                                <input type="password" nbInput fullWidth id="exampleInputPassword2"
                                    placeholder="New Password">
                            </div>
                            <div class="login-submit-btn">
                                <button type="submit" nbButton status="danger">Change Password</button>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </div>
</div>