<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img class="logo-img" src="assets/logo/logo.png">
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div>
  <button type="button" nbButton outline status="primary" [routerLink]="['/pages/main/new/campaign']" ><nb-icon icon="plus-outline"></nb-icon>New Campaign</button>
</div>



<!-- <div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <div class="profile-image" [ngStyle]="{backgroundImage: avatar }"></div>
    </nb-action>
    <<nb-action class="user-action">
      <h6>{{name}}</h6>
    </nb-action>
    <div class="profile">
      
    </div>
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> 
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.firstName + ' ' + user?.lastName" [picture]="user?.pictureUrl">
      </nb-user>
    </nb-action>
  </nb-actions>
</div> -->