<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne> Step 1 </ng-template>
                <div class="step-heading">
                    Its' Getting Personal
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">First Name</label>
                                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">Last Name</label>
                                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="selective_input" class="label">Role</label>
                                <nb-select selected="1" id="selective_input" fullWidth>
                                    <nb-option value="1">Option 1</nb-option>
                                    <nb-option value="2">Option 2</nb-option>
                                </nb-select>
                            </div>
                        </form>
                    </div>
                </div>
                <button nbButton disabled nbStepperNext class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Step 2</ng-template>
                <div class="step-heading">
                    Your Company Details
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">Business Name</label>
                                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Business"
                                    value="test">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="label">Business Logo</label>
                                <input type="file" nbInput fullWidth id="exampleInputEmail1" placeholder="Website"
                                    value="test">
                            </div>
                            <div class="form-group">
                                <label for="logo" class="label">Website</label>
                                <input type="email" nbInput fullWidth id="logo" placeholder="logo">
                            </div>
                            <div class="form-group">
                                <label for="selective_input" class="label">Business Category</label>
                                <nb-select selected="1" id="selective_input" fullWidth>
                                    <nb-option value="1">Sports </nb-option>
                                    <nb-option value="2">Automtive</nb-option>
                                    <nb-option value="2">Fashion</nb-option>
                                    <nb-option value="2">Education</nb-option>
                                    <nb-option value="2">Entertainment</nb-option>
                                </nb-select>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="label">Bio</label>
                                    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Bio"
                                        value="test">
                                </div>
                            </div>


                        </form>

                    </div>
                </div>


                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step label="Step 3">

                <div class="step-heading">
                    Create Your first Compaign
                </div>

                <div class="form-flex">
                    <div class="first-form">
                        <div class="form-group">
                            <label for="compaign_name" class="label">Compaign Name</label>
                            <input type="text" nbInput fullWidth id="compaign_name" placeholder="Compaign Name">
                        </div>
                        <div class="form-group">

                            <label class="text-label" for="message">BroadCast Message</label>
                            <textarea nbInput fullWidth id="message"></textarea>
                        </div>

                    </div>
                </div>


                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Step 4</ng-template>
                <div class="step-heading">
                    Create your first Contact List
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form>
                            <div class="form-group">
                                <label for="contact_list_name" class="label">Contact List Name</label>
                                <input type="text" nbInput fullWidth id="contact_list_name"
                                    placeholder="Contact List Name" />
                            </div>
                            <div class="form-group">
                                <label for="contact_list">Contact List</label>
                                <input type="file" nbInput fullWidth id="contact_list"
                                    placeholder="Upload Contact List">
                            </div>
                        </form>
                    </div>
                </div>
                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button nbButton (click)="loadCompaigns()" class="btn-navi">next</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>