<nb-card>
  <nb-card-header>
    <p class="chart-description">You can chat here with your customers.</p>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="chat-menu col-md-12 col-lg-3 col-xxxl-3">
        <div class="chart-features">
          <p>Campaign Lists:</p>
          <nb-menu tag="chat_menu" [items]="chat_menu"></nb-menu>
        </div>
      </div>
      <div class="chat-container col-md-12 col-lg-6 col-xxxl-6">
        <nb-chat [title]="chat_title" size="large" [status]="chat_theme">
          <nb-chat-message *ngFor="let msg of messages"
            [type]="msg.type"
            [message]="msg.text"
            [reply]="msg.reply"
            [sender]="msg.senderName"
            [date]="msg.createdAt"
            [files]="msg.files"
            [quote]="msg.quote"
            [latitude]="msg.latitude"
            [longitude]="msg.longitude"
            [avatar]="msg.avatarUrl">
          </nb-chat-message>
          <nb-chat-form *ngIf="!showInvite" (send)="sendMessage($event)" [dropFiles]="true">
          </nb-chat-form>
        </nb-chat>
        <button *ngIf="showInvite"  nbButton outline (click)="invite()" size="small" status="primary" class="ping">Ping the user</button>
      </div>
      <div class="chat-container col-md-12 col-lg-3 col-xxxl-3">
        <div class="chart-features">
          <p>Customer List:</p>
          <ul>
            <li *ngFor="let item of customer_list">
              <div class="customer_item">
                <div class="customer_name">
                  {{item.firstName + ' ' + item.lastName}}
                </div>
                <div class="customer_status">
                  <button nbButton outline (click)="selectContact(item.id)" size="small" status="primary">Chat</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
