<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal" [linear]="linearMode">
            <nb-step [label]="labelOne" [stepControl]="form1">
                <ng-template #labelOne> Step 1 </ng-template>
                <div class="step-heading">
                    It's Getting Personal
                </div>
                <p>Let's get you setup</p>
                <div class="form-flex">
                    <div class="first-form">
                        <form [formGroup]="form1" >
                            <div class="form-group">
                                <label for="firstName" class="label">First Name</label>
                                <input type="text" nbInput fullWidth formControlName="firstName" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="label">Last Name</label>
                                <input type="text" nbInput fullWidth formControlName="lastName" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="picture" class="label">Avatar Picture</label>
                                <input type="file" #image type="file" multiple accept="image/x-png,image/gif,image/jpeg" (change)="uploadImage(image.files, false)" nbInput fullWidth formControlName="picture" placeholder="Avatar" required>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="label">Phone</label>
                                <input type="phone" nbInput fullWidth formControlName="phone" placeholder="Phone" required>
                            </div>
                            <div class="form-group">
                                <label for="role" class="label">Role</label>
                                <nb-select selected="1" formControlName="role" fullWidth>
                                    <nb-option value="Founder">Founder</nb-option>
                                    <nb-option value="COO">COO</nb-option>
                                    <nb-option value="HeadofOperations">Head of Operations</nb-option>
                                    <nb-option value="CustomerSuccessManager">Customer Success Manager</nb-option>
                                    <nb-option value="HeadofMarketing">Head of Marketing</nb-option>
                                    <nb-option value="MarketingManager">Marketing Manager</nb-option>
                                    <nb-option value="SocialMediaManager">Social Media Manager</nb-option>
                                </nb-select>
                            </div>
                        </form>
                    </div>
                </div>
                <button nbButton disabled nbStepperNext class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step [label]="labelTwo" [stepControl]="form2">
                <ng-template #labelTwo>Step 2</ng-template>
                <div class="step-heading">
                    Your Company Details
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form [formGroup]="form2">
                            <div class="form-group">
                                <label for="name" class="label">Business Name</label>
                                <input type="text" nbInput fullWidth formControlName="name" placeholder="Business" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="label">Business Contact Email</label>
                                <input type="email" nbInput fullWidth formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="website" class="label">Website</label>
                                <input type="text" nbInput fullWidth formControlName="website" placeholder="Website" required>
                            </div>
                            <div class="form-group">
                                <label for="address" class="label">Address</label>
                                <input type="text" nbInput fullWidth formControlName="address" placeholder="Address" required>
                            </div>
                            <div class="form-group">
                                <label for="category" class="label">Business Category</label>
                                <nb-select selected="1" formControlName="category" fullWidth>
                                    <nb-option value="Automotive">Automotive</nb-option>
                                    <nb-option value="BeautySpaAndSalon">Beauty, Spa & Salon</nb-option>
                                    <nb-option value="ClothingAndApparel">Clothing & Apparel</nb-option>
                                    <nb-option value="Eduction">Education</nb-option>
                                    <nb-option value="Entertainment">Entertainment</nb-option>
                                    <nb-option value="EventPlanningServices">Event Planning & Services</nb-option>
                                    <nb-option value="FinanceAndBanking">Finance & Banking</nb-option>
                                    <nb-option value="FoodAndGrocery">Food & Grocery</nb-option>
                                    <nb-option value="HotelAndLodging">Hotel & Lodging</nb-option>
                                    <nb-option value="MedicalAndHealth">Medical & Health</nb-option>
                                    <nb-option value="NonProfit">Non-Profit</nb-option>
                                    <nb-option value="ProfessionalServices">Professional Services</nb-option>
                                    <nb-option value="PublicService">Public Service</nb-option>
                                    <nb-option value="Restaurant">Restaurant</nb-option>
                                    <nb-option value="ShoppingAndRetail">Shopping & Retail</nb-option>
                                    <nb-option value="TravelAndTransportation">Travel & Transportation</nb-option>
                                    <nb-option value="Other">Other</nb-option>
                                </nb-select>
                            </div>
                        </form>
                    </div>
                </div>


                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step [label]="labelThree" [stepControl]="form3">
                <ng-template #labelThree>Step 3</ng-template>
                <div class="step-heading">                
                    Create your first Contact List
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form [formGroup]="form3">
                            <div class="form-group">
                                <label for="contactListName" class="label">Contact List Name</label>
                                <input type="text" nbInput fullWidth formControlName="contactListName"
                                    placeholder="Contact List Name" required />
                            </div>
                            <nb-alert outline="warning">
                                <p>Download the <a href="https://brightcaststrgprd.blob.core.windows.net/assets/ContactList.csv" download="template.csv" target="blank" style="color: hotpink;">.csv template</a>, add your contacts and reupload the file!</p>
                            </nb-alert>
                            <div class="form-group">
                                <label for="contactList">Contact List</label>
                                <input #file type="file" multiple accept=".csv" (change)="upload(file.files, true)" nbInput fullWidth formControlName="contactList"
                                    placeholder="Upload Contact List">
                            </div>
                        </form>
                    </div>
                </div>                
                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button nbButton nbStepperNext class="btn-navi">next</button>
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Step 4</ng-template>
                <div class="step-heading">
                    Create Your first Campaign
                </div>
                <div class="form-flex">
                    <div class="first-form">
                        <form [formGroup]="form4">
                            <div class="form-group">
                                <label for="name" class="label">Campaign Name</label>
                                <input type="text" nbInput fullWidth formControlName="name" placeholder="Campaign Name">
                            </div>
                            <div class="form-group">
                                <label class="text-label" for="message">Broadcast Message</label>
                                <textarea nbInput fullWidth formControlName="message"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="file" class="label">Media File</label>
                                <input #mediaFile type="file" nbInput fullWidth formControlName="file" placeholder="file" (change)="upload(mediaFile.files, false)" placeholder="Upload Campaign Media File">
                            </div>
                        </form>
                    </div>
                </div>
                
                <button nbButton nbStepperPrevious class="btn-navi">prev</button>
                <button [nbSpinner]="loading" nbSpinnerStatus="success" nbButton (click)="onSubmit()" class="btn-navi">Submit</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>