<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <nb-card>
      <nb-card-header>
        Delivered
      </nb-card-header>
      <nb-card-body>
        <div class="card-values">
          <div class="absolute" counto [step]="50" [countTo]="9" [countFrom]="0" [duration]="4"
            (countoChange)="absoluteValues1[0] = $event">
            {{absoluteValues1[0] | number:'1.0-0'}}
          </div>
          <div class="percentage">
            0%
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 ">
    <nb-card>
      <nb-card-header>
        Read
      </nb-card-header>
      <nb-card-body>
        <div class="card-values">
          <div class="absolute" counto [step]="50" [countTo]="25" [countFrom]="0" [duration]="4"
            (countoChange)="absoluteValues1[1] = $event">
            {{absoluteValues1[1] | number:'1.0-0'}}
          </div>
          <div class="percentage">
            0%
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <nb-card>
      <nb-card-header>
        New Subscribers
      </nb-card-header>
      <nb-card-body>
        <div class="card-values">
          <div class="absolute" counto [step]="50" [countTo]="15" [countFrom]="0" [duration]="4"
            (countoChange)="absoluteValues1[2] = $event">
            {{absoluteValues1[2] | number:'1.0-0'}}
          </div>
          <div class="percentage">
            0%
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <nb-card>
      <nb-card-header>
        Unsubscribed
      </nb-card-header>
      <nb-card-body>
        <div class="card-values">
          <div class="absolute" counto [step]="50" [countTo]="7" [countFrom]="0" [duration]="4"
            (countoChange)="absoluteValues1[3] = $event">
            {{absoluteValues1[3] | number:'1.0-0'}}
          </div>
          <div class="percentage">
            0%
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <nb-card>
      <nb-card-header>
        Replies
      </nb-card-header>
      <nb-card-body>
        <div class="card-values">
          <div class="absolute" counto [step]="50" [countTo]="18" [countFrom]="0" [duration]="4"
            (countoChange)="absoluteValues1[4] = $event">
            {{absoluteValues1[4] | number:'1.0-0'}}
          </div>
          <div class="percentage">
            0%
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->