.card-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.absolute {
    animation: fadein;
    animation-duration: 2s;
    font-size: 2em;
}

.card-container-one {
    min-width: 300px;
    margin: 0px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 450px){
                flex-direction: column;
    }
}
.card-heading {
    padding-bottom: 1.5rem;
    font-weight: 650;
}
.absolute{
    padding-right: 1rem;
}