<div class="customer-list">
    <nb-card>
        <nb-card-header>
            <div class="header-container">
                <div>
                    Customer-List
                </div>
                <div>
                    <button type="button" nbButton status="primary" (click)="openModal()">Create New</button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="15">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            <mfDefaultSorter by="name">Name</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="contacts">Contacts</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="email">Compaigns</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="email">Unsubscribed</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="email">Action</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">

                        <td>{{item.name}}</td>
                        <td>{{item.contacts}}</td>
                        <td>{{item.compaigns}}</td>
                        <td>{{item.unsubscribed}}</td>
                        <td>
                            <nb-icon [icon]="'trash-2'" pack="eva" class="compaign-icons">
                            </nb-icon>
                            <nb-icon [icon]="'edit-outline'" pack="eva" (click)="openModalForEdit(item)"
                                class="compaign-icons">
                            </nb-icon>
                        </td>
                    </tr>

                </tbody>

            </table>
        </nb-card-body>
    </nb-card>
</div>