
        <div class="header-container">
            <div class="header-title">
                <p>{{contactList?.name}}</p>
            </div>
            <div>                
            </div>
        </div>
        <div class="header2">
            <div class="header2-left">
                <nb-select [(selected)]="selectedItem" size="medium" class="selector" >
                    <nb-option (click)="updateTimeFilter()" value="0" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Name (A-Z)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="1" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Name (Z-A)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="2" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Phone (Asc)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="3" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Phone (Desc)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="4" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Email (Asc)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="5" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Email (Desc)</span></nb-option>
                    <nb-option (click)="updateTimeFilter()" value="6" class="select-text">Sort By:&nbsp;<span class="select-text-bold">Subscribed</span></nb-option>
                </nb-select>
                <button type="button" nbButton shape="semi-round" small status="primary" [routerLink]="['./new/contact']" class="new-contact-button">
                    <nb-icon icon="plus-outline"></nb-icon> 
                    New contact
                </button>
            </div>
            <div class="header2-right">
                <button type="button" nbButton shape="semi-round" outline small status="basic" [routerLink]="['./edit']" class="edit-button">
                    <nb-icon icon="edit-2-outline"></nb-icon> 
                    Edit contact list
                </button>
                <button type="button" nbButton shape="semi-round" small status="primary" (click)="copyLink()" class="share-button" [cdkCopyToClipboard]="shareLink">
                    <nb-icon icon="share-outline"></nb-icon> 
                    Share Link
                </button>
            </div>
            </div>
        <div class="main">
            <div class="main-header">
                <div class="header-field">FULL NAME</div>
                <div class="header-field">PHONE</div>
                <div class="header-field">EMAIL</div>
                <div class="header-field">SUBSCRIBED</div>
                <div class="header-field"></div>
            </div>
            <div class="main-data">
                <div *ngFor="let contact of contacts" class="main-data-row">
                    <div class="main-data-field">{{contact.firstName}} {{contact.lastName}}</div>
                    <div class="main-data-field">{{contact.phone}}</div>
                    <div class="main-data-field">{{contact.email}}</div>
                    <div class="main-data-field subscribed">{{contact.subscribed ? '✅' : '❌'}}</div>
                    <div class="main-data-field">
                        <nb-icon icon="edit-outline" [routerLink]="['./contact/'+ contact.id + '/edit']" class="button"></nb-icon> 
                        <nb-icon icon="trash-2-outline" (click)="deleteContact(contact.id)" class="button"></nb-icon>
                    </div>
                </div>
            </div>
        </div>
